<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>AllProducts-SwagStoreee</title>

  <link rel="stylesheet" href="about-us.css">
 <link rel="icon" href="favicon.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Goblin+One&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href='http://fonts.googleapis.com/css?family=Raleway:200,400,800|Clicker+Script' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
   
</head>

<body>


  <div class="container demo-2">
    <div class="content">
      <div id="large-header" class="large-header">
        <canvas id="demo-canvas"></canvas>
        <h2 class="main-title">About Us</h2>

      </div>
    </div>
  </div>



<div class="categories">
  <div class="small-container">
  <h1 class="title">Our Team</h1>

  <div class="row">

    <div class="col-3">
      <div class="card">
        <img class="centre" src="https://i.ibb.co/vZ5wtqk/circle-cropped.png" alt="Nayan Arora" style="width: 60%">
        <div class="container">
          <h2 class="name">Nayan Arora</h2>
          <h3 class="title centre">MERN Stack Developer</h3>
          <p >ECE Undergrad at National Institute of Technology, Kurukshetra</p>
          <!-- <p></p> -->
          <div class="icon">
            <a href="https://www.linkedin.com/in/nayanarora999/" target="_blank" class="glow-on-hover2">
              <img src="https://i.ibb.co/RT3nzHp/download.png" width=" 60" align=center alt="Linked in">
            </a>
          </div>
          <div class="icon">
            <a href="mailto:arora.nayan999@gmail.com" target="_blank" class="glow-on-hover2">
              <img src="https://i.ibb.co/h2FbYSv/112-gmail-email-mail-512.png" width=" 60" align=center alt="Mail">
            </a>
          </div>
          <div class="icon">
            <a href="https://github.com/Nayan5001" target="_blank" class="glow-on-hover2">
              <img src="https://i.ibb.co/HTB7rKj/download-1.png" width=" 60" align=center alt="Github">
            </a>
          </div>
          <div class="icon">
            <a href="https://www.instagram.com/arora.nayan999/" target="_blank" class="glow-on-hover2">
              <img src="https://i.ibb.co/W0DLNp7/instagram-logos-png-images-free-download-2.png" width=" 60" align=center alt="Github">
            </a>
          </div>

        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card">
        <img class="centre" src="https://i.ibb.co/WknZ1X2/circle-cropped.png" alt="Ritik Sethi" style="width: 60%">
        <div class="container">
          <h2 class="name">Ritik Sethi</h2>
          <h3 class="title centre">MERN Stack Developer</h3>
          <p >ECE Undergrad at National Institute of Technology, Kurukshetra</p>
          <!-- <p></p> -->
          <div class="icon">
            <a href="http://www.linkedin.com/in/ritik-sethi" target="_blank" class="glow-on-hover2">
              <img src="https://i.ibb.co/RT3nzHp/download.png" width=" 60" align=center alt="Linked in">
            </a>
          </div>
          <div class="icon">
            <a href="mailto:ritiksethi21@gmail.com" target="_blank" class="glow-on-hover2">
              <img src="https://i.ibb.co/h2FbYSv/112-gmail-email-mail-512.png" width=" 60" align=center alt="Mail">
            </a>
          </div>
          <div class="icon">
            <a href="https://github.com/ritiksethi21" target="_blank" class="glow-on-hover2">
              <img src="https://i.ibb.co/HTB7rKj/download-1.png" width=" 60" align=center alt="Github">
            </a>
          </div>
          <div class="icon">
            <a href="https://www.instagram.com/ritiksethi21/" target="_blank" class="glow-on-hover2">
              <img src="https://i.ibb.co/W0DLNp7/instagram-logos-png-images-free-download-2.png" width=" 60" align=center alt="Github">
            </a>
          </div>

        </div>
      </div>
    </div>

    <div class="last">
      <button onclick="window.location.href='/'" class="glow-on-hover" type="button">Go back to home!</button>
    </div>
  </div>
</div>
</div>
  <script src="js/rAF.js"></script>
  <script src="js/demo-2.js"></script>
</body>

</html>
