<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>AllProducts-SwagStore</title>
    <link rel="stylesheet" href="address-page.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Goblin+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>
  <body>

    <svg viewBox="0 0 960 300">
  	<symbol id="s-text">
  		<text text-anchor="middle" x="50%" y="80%">Thank You</text>

  	</symbol>

  	<g class = "g-ants">
  		<use xlink:href="#s-text" class="text-copy"></use>
  		<use xlink:href="#s-text" class="text-copy"></use>
  		<use xlink:href="#s-text" class="text-copy"></use>
  		<use xlink:href="#s-text" class="text-copy"></use>
  		<use xlink:href="#s-text" class="text-copy"></use>
  	</g>
  </svg>
  <div class="chk-btn">
    <form action="/thank-you" method="post">
    <button type="submit" class="glow-on-hover" name="button">Return Back To Home &#8594;</button>
    </form>
  </div>

  </body>
</html>
