<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>SwagStore</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Goblin+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>
  <body>
    <!-- brands -->
    <div class="brands">
      <div class="small-container">
        <div class="row">
          <div class="col-5">
            <a href="https://www.godrej.com/"><img src="images/logo-godrej.png"></a>

          </div>
          <div class="col-5">
            <a href="https://www.oppo.com/in/"><img src="images/logo-oppo.png"></a>

          </div>
          <div class="col-5">
            <a href="https://www.coca-colacompany.com/"><img src="images/logo-coca-cola.png"></a>

          </div>
          <div class="col-5">
            <a href="https://www.paypal.com/in/home">  <img src="images/logo-paypal.png"></a>

          </div>
          <div class="col-5">
            <a href="https://www.philips.co.in/">  <img src="images/logo-philips.png"></a>

          </div>
        </div>

      </div>
    </div>
  </body>
</html>
