<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>SwagStore</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Goblin+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>
  <body>
    <!-- featured categories -->
    <div class="categories">

      <div class="small-container">
        <div class="row">
          <div class="col-3">
            <a href="https://www.nike.com/in/"><img src="images/category-1.jpg" alt=""></a>
          </div>
          <div class="col-3">
            <a href="https://in.puma.com/">  <img src="images/category-2.jpg" alt=""></a>

          </div>
          <div class="col-3">
            <a href="https://shop.adidas.co.in/"><img src="images/category-3.jpg" alt=""></a>

          </div>
        </div>
      </div>


    </div>
  </body>
</html>
