<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>SwagStore</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Goblin+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>
  <body>
    <!-- offer -->
    <div class="offer">
      <div class="small-container">
        <div class="row">
          <div class="col-2">
            <img src="images/exclusive.png" classes="offer-img">
          </div>
          <div class="col-2">
            <p>Exclusively Available On SwagStore</p>
            <h1>Smart Band 5</h1>
            <small>The Mi Band 6 comes with a 1.56-inch AMOLED screen. In comparison, the Mi Band 5 featured a 1.1-inch screen. The size of the new screen is almost as big as many smartwatches. The screen gets a pixel density of 326ppi. The screen can
              also reach brightness levels of 450 nits.</small>
            <a href="https://www.mi.com/in/bands-fitness" class="animated-button1">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Buy Now &#8594;
            </a>
          </div>

        </div>
      </div>
    </div>

  </body>
</html>
