<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>AllProducts-SwagStore</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Goblin+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="registration-failure.css">

  </head>
  <body>
    <h1 contenteditable>4
      <div class="shine-3"></div>
      <div class="shine-4"></div>
    </h1>
    <h1 style="left:71.2%;" contenteditable>4
      <div class="shine-3"></div>
      <div class="shine-4"></div>
    </h1>
    <div class="stars-container">
      <div class="stars">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="stars">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="stars">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="stars">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="stars">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="stars-2"></div>
      <div class="stars-2"></div>
      <div class="stars-2"></div>
      <div class="stars-2"></div>
      <div class="stars-2"></div>
      <div class="stars-2"></div>
    </div>

    <div class="moon"></div>

    <div class="planet-container">
      <div class="planet-ring2"></div>
      <div class="planet"></div>
      <div class="shine"></div>
      <div class="shine-2"></div>
      <div class="planet-ring"></div>
      <div class="planet-crater"></div>
    </div>

    <div class="meteor-container">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>

    <div class="meteor-container-2">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>

    <div class="meteor-container-3">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>

    <div class="meteor-container-4">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>

    <p class="p1">Registration Error.</p>
    <p class="p2">Id Already Registered,try with another one.</p>
    <form action="/failure" method="post">
      <button type="submit">Go back to Account Page</button>
    </form>
  </body>
</html>
