<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>SwagStore</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Goblin+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>
  <body>
    <!-- testimonial -->
    <div class="testimonial">
      <div class="small-container-test">
        <div class="row">
          <div class="col-3">
            <i class="fa fa-quote-left"></i>
            <p>Great Products at reasonable prices. Love Shopping <span class="heart">♥</span></p>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half"></i>
            </div>
            <img src="images/user-1.png">
            <h3>Sean Parker</h3>
          </div>
          <div class="col-3">
            <i class="fa fa-quote-left"></i>
            <p>The all in one SwagStore once we imagined is finally live and available.The stuff here is pretty cool and the whole UI of website is astonishing in a way or more. Well done developers 🤩
</p>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half"></i>
            </div>
            <img src="https://i.ibb.co/WknZ1X2/circle-cropped.png">
            <h3>Ritik Sethi</h3>
          </div>
          <div class="col-3">
            <i class="fa fa-quote-left"></i>
            <p>Convenience of shopping online with very reasonable prices and outstanding delivery of purchased items. Tremendous customer support with very courteous and professional developers.
</p>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half"></i>
            </div>
            <img src="https://i.ibb.co/vZ5wtqk/circle-cropped.png">
            <h3>Nayan Arora</h3>
          </div>
        </div>

      </div>

    </div>

  </body>
</html>
