body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100%;
  /* z-index: 1; */
  	/* background-color: #2E8B57; */
  	position: relative;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
.name{
  /* border-left: 50%; */
  padding-left: 35%;
}
.column {
  float: left;
  width:30%;
  margin-bottom: 20px;
  margin-left: 60px;
  padding: 0 5%;
}
.col-3 {
  flex-basis: 40%;
  min-width: 250px;
  margin-bottom: 30px;
}
.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.categories {
  margin: 70px 0;
  display: flex;
  flex-direction:column;
}

.title::after {
  content: '';
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
/* .col-3 img {
  width: 100%;
} */

.small-container {
  max-width: 1080px;
  /* display: flex; */
  margin: auto;
  padding-left: 25px;
  padding-right:25px;
}
.heading{
  text-align:center;
  color: blue;
}
.title {
  color: grey;
}
.centre{
  display: block;
  border-left: 10px solid white;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.card {
  box-shadow: 15px 15px 10px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  display: flex;
  flex-direction: column;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.last{
  margin-top: 10%;
  flex-basis: 10%;
  /* width:50%; */
  min-width: 70px;
  margin-bottom: 30px;
}
.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}
.icon{
  display: inline-flex;
  border-left: 25px solid white ;
  padding-bottom: 10px;
}
.button:hover {
  background-color: #555;
}
.glow-on-hover {
    width: 360px;
    height: 80px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    font-size:200%;
    cursor: pointer;
    /* position: relative; */
    z-index: 0;
    border-radius: 10px;
    position: relative;
  margin-top: 5%;
align:center;

}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.glow-on-hover2 {
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    /* position: relative; */
    z-index: 0;
    border-radius: 10px;
    position: relative;
  margin-top: 5%;
align:center;

}

.glow-on-hover2:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover2:active {
    color: #000
}

.glow-on-hover2:active:after {
    background: transparent;
}

.glow-on-hover2:hover:before {
    opacity: 1;
}

.glow-on-hover2:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
@media (min-width: 981px) and (max-width : 1280px) {
    #postcard{
        left: 450px;
    }

    .move {
        animation-name: animTabletHor;
    }
}

@media (min-width: 768px) and (max-width : 980px) {
    #postcard{
        transform: scale(1.2) rotate(28deg);
        align-items: center;
    }

    .move {
        animation-name: animTablet;
    }
}

@media (max-width: 767px) {
    #postcard{
        left: auto;
        right:auto;
        top: 0px;
    }
    .move {
        animation-name: animPhone;
    }
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
.content{
  height: 20%;
}
.large-header {
	position: relative;
	width: 100%;
  height: 20%;
	background: #fff;
	background-size: cover;

}

.demo-2 .large-header {
	background-image: url('https://i.ibb.co/zRBS5S2/demo-2-bg.jpg');
  width:100;
	background-position: center bottom;
}


.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.demo-2 .main-title {
	font-family: 'Clicker Script', cursive;
	font-weight: normal;
	font-size: 8em;
	padding-left: 10px;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

.demo-2 .main-title::before {
	content: '';

	min-width: 3.5em;
	min-height: 3.5em;
	background: url("deco.svg") no-repeat center center;
	background-size: cover;
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	z-index: -1;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

@media only screen and (max-width : 768px) {

	.demo-2 .main-title {
		font-size: 2em;
	}
}
@media only screen and (max-width:600px) {
  .row {
    text-align: center;
  }
.name{
  text-align: left;
}
  .col-2, .col-3, .col-4 .last .glow-on-hover{
    flex-basis: 100%;
    /* text-align: center; */
  }
  .last{
    /* text-align:center; */
    padding: 20px;
display:flex;
justify-content:center;
    /* margin: auto; */
    position: absolute;

  bottom: -7%;
  }
   .glow-on-hover{
  display: inline-block;
 }
  .single-product .row {
    text-align: left;
  }

  .single-product .col-2 {
    padding: 20px 0;
  }

  .single-product h1 {
    font-size: 26px;
    line-height: 32px;
  }

  .cart-info p {
    display: none;
  }
}
